body 
{ 
    font-family: Futura, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    color: black;
}

header
{
    background-color: #C02222;
    border-bottom: 3px solid black;
    color: white;
}

h1, h2, h3
{
    font-weight: bold;
    font-family: Ubuntu;
}

head h1
{
    font-size: 80px;
    margin-bottom: 0;
}

head h2
{
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-style: italic;
    text-align: right;
}



blockquote
{
    margin: 0;
    background-color: black ;
    font-weight: bold;
    font-size: 130%;
    line-height: 150%;
    padding: 2em;
    font-family: Georgia;
}

article
{
    width: 900px;
    margin: 0 auto;

}
